:root {
    font-family: sans-serif;
    background-color: black;
}

#page-title {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-size: clamp(3.5rem, 10vw, 5rem);
    color: lightgreen;
    text-align: center;
    line-height: 1.8em;
    margin: 20px 0;
}

#note-label {
    color: white;
}

main, #note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#note-form * {
    margin-top: 20px;
    font-family: 'Space Mono', monospace;
}

#note-input {
    width: 100%;
    background-color: black;
    color: lightgreen;
    padding: 10px;
    border: 10px outset lightgray;
}

#play-btn {
    background-color: lightgrey;
    border: 0;
    border-radius: 15px;
    padding: 1rem;
    transition-duration: .3s;
}
#play-btn:hover {
    cursor: pointer;
    background-color: lightgreen;
}