:root {
    background-color: black;
    color: lightgreen;
}

main {
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-title {
    font-style: italic;
    font-size: clamp(3.5rem, 10vw, 5rem);
    color: lightgreen;
    text-align: center;
    line-height: 1.8em;
    margin: 20px 0;
}

#start-synth-btn {
    font-family: inherit;
    font-weight: 500;
    background-color: lightgrey;
    border: 0;
    border-radius: 15px;
    padding: 1rem;
    transition-duration: .3s;
}
#start-synth-btn:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.offline {
    color: red;
}